# 学習済みモデル
/gemma-finetuned
/gemma-finetuned-continued
/gemma-finetuned-new
/gemma-finetuned-new-continued
/gemma-finetuned-base
/gemma-finetuned-base-continued
/gemma-finetuned-4th
/gemma-finetuned-4th-continued

# トレーニングデータ
recipe_data.jsonl
recipe_data_train.jsonl
recipe_data_validation.jsonl
new_recipe_data.jsonl
new_recipe_data_train.jsonl
new_recipe_data_validation.jsonl
4th_recipe_data.jsonl
4th_recipe_data_train.jsonl
4th_recipe_data_validation.jsonl
# FastAPIのキャッシュ
__pycache__

# Python仮想環境
.venv

# 解析データのinsert文
insert_statements.sql